/* Стили для панели навигации */
nav {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 background-color: #FFC0CB;
 color: #fff;
 padding: 10px 0;
 text-align: center;
}
nav ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}
nav ul li {
 display: inline;
 margin-right: 10px;
}
nav ul li a {
 color: #fff;
 text-decoration: none;
}
/* Стили для разделов страницы */
.section {
 display: none;
 padding: 20px;
}
.section.active {
 display: block;
}